footer {
  width: 100%;
  background-color: rgb(32, 29, 72);
  color: white;
}

footer > div {
  padding: 40px 20px 20px;
  margin-left: 250px;
  margin-right: 250px;
}

.footerUp {
  display: flex;
  font-size: 15px;
}

.logoAndChangeRegion {
  margin: 0px 50px 0px 0px;
}
.logoAndChangeRegion .logo {
  margin: 0px 0px 10px;
}
.logoAndChangeRegion .logo img {
  width: 60%;
}
.logoAndChangeRegion .region button {
  background-color: rgb(19, 17, 36);
  color: white;
  border: 1px solid rgb(26, 23, 58);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
}
.logoAndChangeRegion .region button:hover {
  cursor: pointer;
}
.logoAndChangeRegion .region button i {
  font-size: 18px;
  padding-right: 15px;
}
.logoAndChangeRegion ul {
  padding: 0px 0px;
  list-style: none;
}
.logoAndChangeRegion ul li {
  padding: 6px 0px;
}
.ancorCataloghiLego:hover {
  text-decoration: underline;
}
.ancorTrovaUnNegozio:hover {
  text-decoration: underline;
}
.logoAndChangeRegion span {
  font-size: 15px;
  font-weight: 400;
}
.linkFooter {
  display: flex;
  padding: 10px 0px 0px;
}
.linkFooter ul {
  list-style: none;
  padding: 0px 0px;
}
.linkFooter ul li {
  padding-bottom: 20px;
}
.linkFooter ul li a {
  font-size: 15px;
}
.linkFooter ul li a:hover {
  text-decoration: underline;
}
.chiSiamo {
  margin-right: 50px;
  width: 18%;
  margin-left: 80px;
}
.chiSiamo h4 {
  padding-bottom: 20px;
  font-size: 16px;
}
.supporto {
  width: 26%;
}
.supporto h4 {
  padding-bottom: 20px;
  font-size: 16px;
}
.attrazioni {
  width: 15%;
  padding-right: 30px;
}
.attrazioni h4 {
  padding-bottom: 20px;
  font-size: 16px;
}
.altreInformazioni {
  padding-left: 60px;
}
.altreInformazioni h4 {
  padding-bottom: 20px;
  font-size: 16px;
}
.footerCenter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.inputEmail {
  margin-top: 20px;
}
.insertEmail {
  width: 73%;
  height: 50px;
  border: 0px solid rgb(26, 23, 58);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.buttonInputEmail {
  height: 52px;
  width: 20%;
  white-space: nowrap;
  transform: translateX(-1px);
  margin-left: -10px;
  border: 0px solid rgb(26, 23, 58);
  border-radius: 0px 0.3125rem 0.3125rem 0px;
  box-shadow: none;
  background-color: rgb(253, 128, 36);
  padding-top: 0px;
  padding-bottom: 0px;
}
.social {
  width: 17%;
}
.seguici {
  font-size: 18px;
}
.socialCircle {
  padding-top: 20px;
  width: 110%;
}
.socialCircle a img {
  width: 40px;
  padding-right: 15px;
}
.footerDown {
  margin-top: 10px;
}
.policyLink {
  display: flex;
  list-style: none;
  padding: 0px 0px;
}
.policyLink li a {
  padding-right: 35px;
  font-size: 12px;
}
.policyLink li a:hover {
  text-decoration: underline;
}
.disclaimer {
  font-size: 12px;
  padding-top: 10px;
}
.changeLanguage {
  display: none;
  position: fixed;
  top: 0;
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-left: 0px;
}
.closeModal {
  display: flex;
  align-items: end;
  justify-content: end;
  color: inherit;
  width: 96%;
  height: 1.125rem;
  position: absolute;
}
.closeModal button {
  background: transparent;
  width: 57px;
  height: 57px;
  border: 0px;
}
.closeModal button:hover {
  cursor: pointer;
}
.closeModal button i {
  font-size: 20px;
  font-weight: bolder;
}

.globalLanguage img {
  display: block;
  padding-left: 910px;
  width: 60px;
  height: 60px;
}
.globalLanguage h2 {
  color: black;
  display: flex;
  justify-content: center;
}
.globalLanguage p {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 17px;
}
.globalLanguage ul {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 207, 0);
  margin: 0 14%;
  height: 77px;
  list-style: none;
}
.continentiNome {
  background: transparent;
  border: 0px;
  display: flex;
  align-items: center;
  height: 100%;
  color: rgb(44, 44, 44);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 20px;
  cursor: pointer;
}
.continentiNome:active {
  border-bottom: 3px solid black;
}
.continenti .adnLanguage {
  background: transparent;
  position: absolute;
  display: none;
}
.continenti .adsLanguage {
  background: transparent;
  position: absolute;
  display: none;
}
.continenti .euLanguage {
  background: transparent;
  position: absolute;
  display: none;
}
.continenti .asLanguage {
  background: transparent;
  position: absolute;
  display: none;
}
.continenti .moLanguage {
  background: transparent;
  position: absolute;
  display: none;
}
.adnLanguage {
  left: 0px;
  flex-direction: column;
  padding-top: 160px;
}
.adnLanguage li a {
  padding-bottom: 23px;
  padding-left: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.adnLanguage li a:hover {
  text-decoration: underline;
}
.adnLanguage li {
  padding-bottom: 20px;
}
.adnLanguage li i {
  position: absolute;
  left: 20px;
  background-color: white;
}
.adsLanguage {
  left: 0px;
  flex-direction: column;
  padding-top: 60px;
}
.adsLanguage li a {
  padding-bottom: 23px;
  padding-left: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.adsLanguage li a:hover {
  text-decoration: underline;
}
.adsLanguage li {
  padding-bottom: 20px;
}
.adsLanguage li i {
  position: absolute;
  left: 20px;
  background-color: white;
}

.euLanguage1 {
  top: 57%;
  display: flex;
  flex-direction: column;
  left: -40px;
}
.euLanguage2 {
  top: 56%;
  display: flex;
  flex-direction: column;
  left: 14%;
}
.euLanguage3 {
  top: 59%;
  display: flex;
  flex-direction: column;
  left: 30%;
}
.euLanguage4 {
  top: 56%;
  display: flex;
  flex-direction: column;
  left: 44%;
}
.euLanguage5 {
  top: 42%;
  display: flex;
  flex-direction: column;
  left: 58%;
}
.euLanguage li a {
  padding-bottom: 20px;
  padding-left: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.euLanguage li a:hover {
  text-decoration: underline;
}
.euLanguage li {
  position: relative;
  margin-bottom:20px; 
  padding-left: 2.5rem;
  break-inside: avoid;
}
.euLanguage li i {
  position: absolute;
  left: 20px;
  background-color: white;
}
.asLanguage1 {
  top: 43%;
  left: 0px;
  flex-direction: column;
  padding-top: 60px;
}
.asLanguage2 {
  top: 39%;
  left: 37%;
  flex-direction: column;
  padding-top: 60px;
}
.asLanguage li a {
  padding-bottom: 23px;
  padding-left: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.asLanguage li a:hover {
  text-decoration: underline;
}
.asLanguage li {
  padding-bottom: 20px;
}
.asLanguage li i {
  position: absolute;
  left: 20px;
  background-color: white;
}
.moLanguage {
  left: 0px;
  flex-direction: column;
  padding-top: 8%;
}
.moLanguage li a {
  padding-bottom: 23px;
  padding-left: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.moLanguage li a:hover {
  text-decoration: underline;
}
.moLanguage li {
  padding-bottom: 20px;
}
.moLanguage li i {
  position: absolute;
  left: 20px;
  background-color: white;
}
.continenti ul li {
  color: black;
}
