footer{
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 29, 72);
    color: white;
    
    
}

footer > div{
    padding: 40px 20px 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.footerUp{
    display:flex; 
    font-size: 15px;
}

.logoAndChangeRegion{
    margin: 0px 50px 0px 0px;
}
.logoAndChangeRegion .logo{
    margin: 0px 0px 10px;
}
.logoAndChangeRegion .logo img{
    width: 60%;
}
.logoAndChangeRegion .region button{
    background-color: rgb(19, 17, 36);
    color: white;
    border: 1px solid rgb(26, 23, 58);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
}
.logoAndChangeRegion .region button:hover{
    cursor: pointer;
}
.logoAndChangeRegion .region button i{
    font-size: 18px;
    padding-right: 15px;
}
.logoAndChangeRegion ul{
    padding: 0px 0px;
    list-style: none;
}
.logoAndChangeRegion ul li{
    padding: 6px 0px;
}
.ancorCataloghiLego:hover{
    text-decoration: underline;
}
.ancorTrovaUnNegozio:hover{
    text-decoration: underline;
}
.logoAndChangeRegion span{
    font-size: 15px;
    font-weight: 400;
    
}
.linkFooter{
    display: flex;
    padding: 10px 0px 0px;
}
.linkFooter ul{
    list-style: none;
    padding: 0px 0px;
}
.linkFooter ul li{
    padding-bottom: 20px;
}
.linkFooter ul li a{
    font-size: 15px;
    
}
.linkFooter ul li a:hover{
    text-decoration: underline;
}
.chiSiamo{
    margin-right: 50px;
    width: 18%;
    margin-left: 80px;
}
.chiSiamo h4{
    padding-bottom: 20px;
    font-size: 16px;
}
.supporto{
    width: 26%;
}
.supporto h4{
    padding-bottom: 20px;
    font-size: 16px;
}
.attrazioni{
    width: 15%; 
    padding-right: 30px;
}
.attrazioni h4{
    padding-bottom: 20px;
    font-size: 16px;
}
.altreInformazioni{
    padding-left: 60px;
}
.altreInformazioni h4{
    padding-bottom: 20px;
    font-size: 16px;
}
.footerCenter{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.inputEmail{
    margin-top: 20px ;
}
.insertEmail{
    width: 73%;
    height: 50px;
    border: 0px solid rgb(26, 23, 58);
    -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.buttonInputEmail{
    height: 52px;
    width: 20%;
    white-space: nowrap;
    transform: translateX(-1px);
    margin-left: -10px;
    border: 0px solid rgb(26, 23, 58);
    border-radius: 0px 0.3125rem 0.3125rem 0px;
    box-shadow: none;
    background-color: rgb(253, 128, 36);
    padding-top: 0px;
    padding-bottom: 0px;
}
.social{
    width: 17%;
    
}
.seguici{
    font-size: 18px;
   
}
.socialCircle  {
    padding-top: 20px;
    width: 110%;
}
.socialCircle a img{
    width: 40px;
    padding-right: 15px;
}
.footerDown{
    margin-top: 10px;
}
.policyLink{
    display: flex;
    list-style: none;
    padding: 0px 0px;
}
.policyLink li a{
    padding-right: 35px;
    font-size: 12px;
}
.policyLink li a:hover{
    text-decoration: underline;
}
.disclaimer{
    font-size: 12px;
    padding-top: 10px;
}