.section-fan-favourites {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.sff-wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 90px 30px 90px;
}

.sff-title {
  box-sizing: content-box;
}

.sff-card-wrapper {
  display: flex;
  gap: 20px;
}

.sff-card-container {
  box-sizing: content-box;
  position: relative;
}

.sff-card-img-container {
  position: relative;
}

.sff-card-img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.sff-card-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.sff-card-logo-img {
  margin: 0;
  padding: 0;
  height: 15%;
  max-height: 3rem;
  min-height: 1.5rem;
}

.sff-card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 30px;
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

#sff-card-left {
  color: white;
}

.sff-card-tb-span {
  font-weight: bold;
}

.sff-card-container:hover .sff-card-text-container .sff-card-text-button .sff-card-tb-span {
  text-decoration: underline;
}

#sff-card-left .arrow-right {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#sff-card-right .arrow-right {
  border: solid var(--text-color);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}