.section-fan-favourites {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.wrapper-fan-favourites {
  max-width: 100rem;
  margin: 0px auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
}

.img-store-waves {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.img-store-house {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

.web-waves{
  position: relative;
}


.waves-text{
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}


.web-house{
  position: relative;
}

.house-text{
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

/*.top-centered-waves {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.low-center-waves {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 0.875rem;
  line-height: 1.1875rem;
}

.lower-center-waves {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-family: Cera Pro, sans-serif;
}
*/
/*.top-centered-house {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  line-height: 2.3125rem;
}

.low-center-house {
  position: absolute;
  top: 35%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.8rem;
}

.lower-center-house {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-family: Cera Pro, sans-serif;
  color: white;
}
*/
.lower-center-waves .arrow-right {
  border: solid var(--text-color);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.lower-center-house .arrow-right {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.lower-center-waves-span {
  font-weight: bold;
}
.lower-center-house-span {
  font-weight: bold;
}

.img-store-waves:hover .lower-center-waves-span {
  text-decoration: underline;
}
.img-store-house:hover .lower-center-house-span {
  text-decoration: underline;
}

