.cpt-main-container {
    padding: 1.875rem 3.75rem 3.75rem;
    max-width: 100rem;
    margin: auto;
    
}


.cpt-title > h2 {
    margin: 0px 0px 0.75rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.cpt-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;   
}

.cpt-card-container::-webkit-scrollbar {
  height: 5px;
  width: 80%;
}

.cpt-card-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.cpt-card-container::-webkit-scrollbar-thumb {
  background: #888; 
}

.cpt-card-container::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b; 
}

.cpt-card {
    display: block;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 2.1875rem;
    width: 300px;
    height: 500px;
}

.cpt-image-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    width: 100%;
    height: 300px;
}

.cpt-card-image {
    width: 90%;
    height: 90%;
    margin-left: 0.625rem;
}

.cpt-card-image:hover {
    transform: scale(1.1);
}

.cpt-image-span {
    
    margin-left: 0.625rem;
    margin-bottom: 0.625rem;
}

.cpt-novità {
    display: inline-block;
    margin: 0px;
    padding: 0.19rem 0.625rem;
    background: rgb(255, 207, 0);
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
}

.cpt-image-svg {
    padding-top: 0.7rem;
    padding-left: 0.7rem;
}

.cpt-details-container {
    width: 100%;
}


.cpt-details-name > h3{
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 600;    
}


.cpt-details-button > button {
    display: block;
    width: 100%;
    padding: 0.9375rem;
    border-style: solid;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.1875rem;
    background-color: rgb(253, 128, 36);
    border-color: rgb(253, 128, 36);
    color: rgb(0, 0, 0);
}

.cpt-details-button > button:hover {
    background-color: white;
}

.cpt-details-price {
    margin-bottom: 0.3rem;
}

.cpt-details-price > .cpt-price {
    font-weight: bold;
    
}

.cpt-details-star > .cpt-star {
    width: 15px;
    height: 15px;
    margin-bottom: 0.3rem;
}

.cpt-star {
    margin-right: 0%;
    padding-right: 0%;
    margin-left: 0%;
    padding-left: 0%;
}

.cpt-other-details {
    align-items: end;
}